body {
    background-color: #283040;
}

h1 {
    color:#5D75A6 ;
    text-align: center;
}

h3 {
    color: #5D75A6;
    text-align: center;
}

ul {
    color:#B9B4D9;
    text-align: center;
}

ol {
    color: #B9B4D9;
    text-align: center;
}